@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


/*Globales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}

/*Header*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
   
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.nav-link {
    display: block;
    color: rgb(6, 0, 7);
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: #ffffff;
}


/* Hero */
.hero{
    width: 100%;
    height: 50vh;
    background: url("imagenes/36830.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.h2-sub a{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #62006b;
    font-weight: 600;
    line-height: 3;
}

.head{
    color: #62006b;
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .0rem;
}
.he-des h5{
    color: #62006b;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -3px;
}




@media screen and (min-width: 900px) {

    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    .h2-sub a{
        font-size: 5rem;
    }
    .head{
        font-size: 2rem;
        letter-spacing: .8rem;
    }
    
    
}

/*FIN DEL ENCABEZADO*/

.foto{
    margin-top: 16px;
    width: 130px;
    margin-left: 605px;

}
.descripcion {
    margin: 20px;
    font-size: 1.7rem;
}

.saludo {
    margin: 20px;
    font-size: 1.4rem;
}

/*FIN DE QUEIN SOY*/

.imagen1 {
    width: 100px;
    margin-top: 20px;
}

.imagen2 {
    width: 100px;
}

.imagen3 {
    width: 50px;
}

.imagen4 {
    width: 60px;
}

h1 {
    margin-top: 10px;
}